.jumbotron {
    background-image: url(../images/light\ bulbs.jpg);
    background: cover, no-repeat;
    color: yellowgreen;
    font-weight: bold;
}
body {
    margin-bottom: 100px;
    background-image: url(../images/question-mark.jpg), no-repeat;
}
.container {
    width: 80%;
    background-color: lightgreen;
    border-color: blue;
}