.jumbotron {
    background-image: url(../images/light\ bulbs.jpg);
    background-size: 50%;
    background-position: center top;
    color: navy;
    font-weight: bold;
}
body {
    margin-bottom: 100px;
    width: 100%;
    background-image: url(../images/question-mark-dark.jpg);
    background-size: cover;
}
.row {
    color: white;
}